<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:theme="@style/Theme.TZBandeev" >
        <activity
            android:name="com.bandeev.feature.auth.presentation.LogInActivity"
            android:exported="true"
            android:theme="@style/Theme.TZBandeev">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>